<div class="flex justify-center items-center">
    <div class="space-y-10">
        <div class="space-x-5">
            <input #todoInput type="text">
            <button (click)="saveInput(todoInput) ">Save</button>
        </div>
        <ol>
            @for (todo of todoList; track todo; let i = $index) {
            <li class="flex justify-between">
                {{i+1}}. {{todo}}
                <div class="space-x-2">
                    <button class="text-red-500" (click)="DeleteTask(todo)">Delete</button>
                </div>
            </li>
            }
        </ol>
    </div>
</div>